@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=East+Sea+Dokdo&display=swap');
$mobile: "only screen and (max-width: 640px)";

* {
    font-family: 'Nunito', sans-serif;
    margin: 0%; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 85%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;  
    scroll-padding-top: 6rem;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}

.Easter_egg{
    position: absolute;
    visibility: hidden;
}

.rain {
    opacity: 0;
    transition: 2s;

    img {
        z-index: 0;
        width: 100vw;
        top: -5rem;
        position: absolute;
    }
}

.rain > i {
    z-index: -5;
    position: absolute;
    height: 200px;
    background : linear-gradient(transparent, rgb(52, 143, 228));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

.rain > i:nth-child(3n+1){
    background : linear-gradient(transparent, rgb(134, 196, 255));
}

.rain > i:nth-child(3n+2){
    background : linear-gradient(transparent, rgb(80, 144, 204));
}

.rain > i:nth-child(3n+3){
    background : linear-gradient(transparent, rgb(185, 221, 255));
}

body {
    height: 100vh;
    background: #e0e4ee;

}

.content_wrap {
    display: flex;
    width: 100vw;
    height: 95vh;
    align-items: center;
    justify-content: center;

    .angle {
        width: 100vw;
        height: 100vh;
        position: absolute;
        font-size: 10rem;
        gap: 120rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        opacity: 0;

        .angle-left, .angle-right{
            cursor: pointer;
        }
    }

    .book {
        display: flex;
        align-items: center;
        cursor: pointer;
        perspective: 1000px;
        opacity: 1;

        .cover {
            transition: all 3s;
            z-index: 2;
            display: flex;
            justify-content: center;
    
        }

        .back-cover {
            z-index: -10;
            transition: all 3.5s;

        }

        .cover, .back-cover {
            width: 40rem;
            height: 55rem;
            background: #353755;
            border-radius: 2px 20px 20px 2px;
            position: absolute;
            box-shadow: 4px 1px 10px gray;
            transform: rotateX(0deg);
            transform-origin: center left;
            transform-style: preserve-3d;

            img {
                transition: all 3s;
                font-size: 6rem;
                backface-visibility: hidden;
            }

        }

        .page{
            width: 38rem;
           height: 50rem;
           background: white;
           position: absolute;
           border-radius: 2px 10px 10px 2px;
           transform: rotateX(0deg);
           transform-origin: center left;
           z-index: 0;
           box-shadow: none !important;
        }

        #first_page{

            img {
                z-index: -1;
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                object-fit: cover;
                transform-style: preserve-3d;
                backface-visibility: hidden;
            }
        }

        #page_0, #page_8{
            opacity: 0;
        }

        #page_1{
            z-index: -1;
        }

        .nextPage{
            width: 38rem;
            height: 50rem;
            background: white;
            position: absolute;
            border-radius: 2px 10px 10px 2px;
            transform: rotateX(0deg);
            transform-origin: center left;
            transform-style: preserve-3d;
            z-index: -2;
            transition: all 3s;

             img {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        object-fit: cover;
                        transform-style: preserve-3d;
                        backface-visibility: hidden;
                        -webkit-user-drag: none;
                    }

                    img:nth-child(2) {
                        transform: rotateY(180deg);
                    }
        }

        .page:nth-child(2){
            transition-duration: 3s;
        }
        .page:nth-child(3){
            transition-duration: 2.6s;
        }
        .page:nth-child(4){
            transition-duration: 2.2s;
        }
        .page:nth-child(5){
            transition-duration: 1.8s;
        }
        .page:nth-child(6){
            transition-duration: 1.4s;
        }
    }

    .book:hover .page:nth-child(2){
        transition-duration: 6s;
    }
    .book:hover .page:nth-child(3){
        transition-duration: 5.6s;
    }
    .book:hover .page:nth-child(4){
        transition-duration: 5.2s;
    }
    .book:hover .page:nth-child(5){
        transition-duration: 4.8s;
    }
    .book:hover .page:nth-child(6){
        transition-duration: 4.4s;
    }

    .Subtitle {
        width: 100%;
        height: 110%;
        position: absolute;
        display: flex;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 100;
        background-color: black;
        transition: 1.5s;

        img {
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 5.5rem;
            color: black;
            position: absolute;
            z-index: 100;
            transition: 1.5s ease-in-out;
        }

        .first {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: end;
            justify-content: center;
            margin-bottom: 25rem;
            transition: 1.5s ease-in-out;

            img {
                height: 300px;
                width: 300px;
                margin-bottom: 25rem;
            }

            h3 {
                font-size: 3.5rem;
                position: absolute;
                z-index: 200;
            }
        }

        .second {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: end;
            justify-content: center;
            margin-bottom: 25rem;
            transition: 1.5s ease-in-out;
            
            img {
                height: 300px;
                width: 300px;
                margin-bottom: 25rem;
            }

            h3 {
                font-size: 3.5rem;
                position: absolute;
                z-index: 200;
            }
        }

        .last {
            opacity: 0;
            z-index: 999;
            width: 100vw;
            height: 110vh;
            position: absolute;
            align-items: center;
            justify-content: center;
            background-color: black;
            display: flex;

            .video {
                width: 75em;
                height: 55rem;
                position: absolute;
               
                iframe {
                    pointer-events: none;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    transition: 1.5s;
                }
            }
        }
    }
}

@keyframes animate
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
        transform: translateY(calc(100vh + 200px));
    }
}

@media (max-width: 1600px){
    html {
        font-size: 65%;
    }
    .angle {
        gap: 105rem !important;
    }
}


@media (max-width: 1400px){
    html {
        font-size: 60%;
    }
    .angle {
        gap: 90rem;
    }
}

@media (max-width: 450px){
    html {
        font-size: 20%;
    }
    .last-page img{
        margin: 10px auto !important;
    }
    .angle {
        gap: 90rem !important;
    }
}