@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
$mobile: "only screen and (max-width: 640px)";

* {
    font-family: 'Nunito', sans-serif;
    margin: 0%; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;  
    scroll-padding-top: 6rem;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
}

.Easter_egg{
    position: absolute;
    visibility: hidden;
}

body {
    background: #fbe9e7;
}

.content_wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;

    .angle {
        width: 100vw;
        height: 100vh;
        position: absolute;
        font-size: 10rem;
        gap: 120rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }

    .STR_content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;

        h3 {
            font-size: 10rem;
            cursor: pointer;
            opacity: 0;
        }
    }

    .main_content{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        opacity: 0;

        .card{
            position: absolute;
            width: 40rem;
            height: 55rem;
            background: #fff;
            transform-style: preserve-3d;
            transform: perspective(1000px);
            box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
            transition: 1s;
            cursor: pointer;

            .imgBox {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                transform-origin: left;
                transform-style: preserve-3d;
                background: #000;
                transition: 1s;
                box-shadow: 30px 20px 40px rgba(0,0,0,0.25);


                img {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    object-fit: cover;
                    transform-style: preserve-3d;
                    backface-visibility: hidden;
                }

                img:nth-child(2){
                    transform: rotateY(180deg);
                  
                }
            }

            .details{
                position: absolute;
                top: 0%; left: 0%;
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: left;
                transform-style: preserve-3d;
                transform: rotateY(0deg);
                transition: 1s;
                background: #fff;

                    h2{
                        font-size: 5rem;
                }
            }

            #Card {
                z-index: -1;
                position: absolute;
                top: 0%; left: 0%;
                width: 100%;
                height: 100%;
                transform-origin: left;
                transform-style: preserve-3d;
                transform: rotateY(0deg);
                transition: 1s;
                background: #fff;
            }
        }
    }
}

@media (max-width: 1400px){
    html {
        font-size: 55%;
    }
    .angle {
        gap: 90rem;
    }
}